/* ' ' */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Courier;
    font-weight: 100;
    font-style: normal;
    background: #8f7193;
    background: linear-gradient(0deg, rgb(133, 108, 140) 0%, rgb(157, 90, 157) 100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
    color: #ffffff;
    display: flex;
    justify-content: center;
}
.contenedor{
    max-width: 80%;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    padding: 40px;
}
.encabezado{
    padding: 10px 0 5px 0;
}
.agregar{
    background-color: #7b5780;
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 70px;
}
.agregar input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    background-color: #a788ab;
    padding-left: 10px;
}
.agregar input::placeholder{
    font-size: 1.1rem;
    color: #7b5780;
}
.agregar i{
    font-size: 45px;
    color: #caaace;
}
.agregar i:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/*seccion tareas */
.tareas h2{
    margin-bottom: 25px;
    color: #ffffff;
}
.tareas li{
    background-color: #c0a0c3;
    border-radius: 15px;
    padding: 10px;
    color: #F1F0FF;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tareas{
    font-size: 25px;
}
.tareas p{
    font-size: 600;
}
.tareasi:hover{
    color: #000000;
    cursor: pointer;
}
.tachado{
    text-decoration: line-through;
    color: #a788ab;
}